<template name="newArticle">

    <form class="newArticle" >
      <div class="row">
      <div class="col-xs-12 col-md-8">
        
        <h1>Insert New Article!</h1>
        <!-- <div class="alert alert-success" role="alert">Done! Article Uploaded.</div> -->
        <div class="form-group">

            <label for="name">Title:</label>
            <input type="text" class="form-control" label="heading" id="name" name="heading" placeholder="Totaly awesome title!">
        </div>


        <div class="form-group">
          <label for="name">Article</label>
          <textarea class="form-control" label="Side notes" name="text" placeholder="Post text" rows="5"></textarea>
        </div>


        <div class='form-group'>
            <label for="name">Notes</label>
            <textarea class="form-control" label="Side notes" id="instructions" name="notes" placeholder="Instructions here!" rows="3"></textarea>

        </div>
        <button type="submit" value="Submit">Insert Article</button>

      </div>
      <div class="col-xs-6 col-md-4">Help</div>
    </div>

    </form>

</template>
