<template name="exercisesCategories">

    <div class="jumbotron">
        <div class="container">
            <h2>Select the type of exercise</h2>
            <p>Select which type of exercise you want to do. Each category focuses to a particular</p>
        </div>
    </div>

    <section class="mainSection">

        {{#each categories}}
        <div class="list-group">
            <a href="/exercises/{{type}}" class="list-group-item">
                <h4 class="list-group-item-heading">{{name}} <span class="badge"></span></h4>
                <p class="list-group-item-text">{{instructions}}</p>
            </a>
        </div>
        {{/each}}

    </section>

</template>
