<template name="odd-one-out">

    <!--  Template for odd-one-out exercise      -->
    <section class="mainSection">
        <form>
            <input name=exercisesID type="hidden" value={{_id}}>
            <input name=type type="hidden" value={{type}}>

            {{#each options}}

            <div class="checkbox">
                <label>
                    <input name="option" type="radio" value={{this}}>
                    {{this}}
                </label>
            </div>

            {{/each}}
            <br>
            <button type="submit" class="btn btn-default btn-primary js-verify">Submit your Answer</button>

        </form>
    </section>
</template>
