<template name="tech">

    <div class="jumbotron">
        <div class="container">
            <h2>About the page and Techstack</h2>
            <p>About the project and technologies used to build this application.</p>
        </div>
    </div>

    <div class="technologies">

      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#techEN" aria-controls="techEN" role="tab" data-toggle="tab">English</a></li>
        <li role="presentation" class="disabled"><a href="#techCZ" aria-controls="techCZ" role="tab" data-toggle="tab">Czech</a></li>
      </ul>

<div class="tab-content" style="margin-top: 20px;">

  <div role="tabpanel" class="tab-pane active" id="techEN">
        <div class="media">
            <div class="media-left">
                <a href="https://www.meteor.com/">
                    <img class="media-object"
                         alt="64x64"
                         src="/images/meteor-logo.png"
                         data-holder-rendered="true"
                         style="width: 160px; height: 64px;">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Meteor</h4>
                <p>
                    Meteor, or MeteorJS, is a free and open-source JavaScript web framework[2] written using Node.js.
                    Meteor
                    allows for rapid prototyping and produces cross-platform (web, Android, iOS) code. It integrates
                    with
                    MongoDB and uses the Distributed Data Protocol and a publish–subscribe pattern to automatically
                    propagate data changes to clients without requiring the developer to write any synchronization code.
                    On
                    the client, Meteor depends on jQuery and can be used with any JavaScript UI widget library.
                </p>
            </div>
        </div>

        <div class="media">
            <div class="media-left">
                <a href="http://getbootstrap.com/">
                    <img class="media-object"
                         alt="64x64"
                         src="/images/bootstrap-solid.svg"
                         data-holder-rendered="true"
                         style="width: 64px; height: 64px;">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Bootstrap</h4>
                <p>
                    Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile first
                    projects on the web.
                    Designed for everyone, everywhere.
                    Bootstrap makes front-end web development faster and easier. It's made for folks of all skill
                    levels,
                    devices of all shapes, and projects of all sizes.
                </p>
            </div>
        </div>

        <div class="media">
            <div class="media-left">
                <a href="https://atom.io/">
                    <img class="media-object"
                         alt="64x64"
                         src="/images/atom_editor_logo.svg"
                         data-holder-rendered="true"
                         style="width: 64px; height: 64px;">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Atom.io</h4>
                <p>

                    Atom is a text editor that's modern, approachable, yet hackable to the core—a tool you can customize
                    to
                    do anything but also use productively without ever touching a config file.
                </p>
            </div>
        </div>

        <div class="media">
            <div class="media-left">
                <a href="https://github.com/">
                    <img class="media-object"
                         alt="64x64"
                         src="/images/octocat.jpg"
                         data-holder-rendered="true"
                         style="width: 80px; height: 64px;">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">GitHub</h4>
                <p>
                    GitHub is a web-based Git repository hosting service. It offers all of the distributed revision
                    control
                    and source code management (SCM) functionality of Git as well as adding its own features. Unlike
                    Git,
                    which is strictly a command-line tool, GitHub provides a Web-based graphical interface and desktop
                    as
                    well as mobile integration. It also provides access control and several collaboration features such
                    as
                    bug tracking, feature requests, task management, and wikis for every project
                </p>
            </div>
        </div>

        <div class="media">
            <div class="media-left">
                <a href="https://www.mongodb.com/">
                    <img class="media-object"
                         alt="64x64"
                         src="/images/mongo.png"
                         data-holder-rendered="true"
                         style="width: 150px; height: 64px;">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">MongoDB</h4>
                <p>
                    MongoDB (from humongous) is a cross-platform document-oriented database. Classified as a NoSQL
                    database,
                    MongoDB eschews the traditional table-based relational database structure in favor of JSON-like
                    documents with dynamic schemas (MongoDB calls the format BSON), making the integration of data in
                    certain types of applications easier and faster.
                </p>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="techCZ">
          <div class="media">
              <div class="media-left">
                  <a href="https://www.meteor.com/">
                      <img class="media-object"
                           alt="64x64"
                           src="/images/meteor-logo.png"
                           data-holder-rendered="true"
                           style="width: 160px; height: 64px;">
                  </a>
              </div>
              <div class="media-body">
                  <h4 class="media-heading">Meteor</h4>
                  <p>
                      Meteor, or MeteorJS, is a free and open-source JavaScript web framework[2] written using Node.js.
                      Meteor
                      allows for rapid prototyping and produces cross-platform (web, Android, iOS) code. It integrates
                      with
                      MongoDB and uses the Distributed Data Protocol and a publish–subscribe pattern to automatically
                      propagate data changes to clients without requiring the developer to write any synchronization code.
                      On
                      the client, Meteor depends on jQuery and can be used with any JavaScript UI widget library.
                  </p>
              </div>
          </div>

          <div class="media">
              <div class="media-left">
                  <a href="http://getbootstrap.com/">
                      <img class="media-object"
                           alt="64x64"
                           src="/images/bootstrap-solid.svg"
                           data-holder-rendered="true"
                           style="width: 64px; height: 64px;">
                  </a>
              </div>
              <div class="media-body">
                  <h4 class="media-heading">Bootstrap</h4>
                  <p>
                      Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile first
                      projects on the web.
                      Designed for everyone, everywhere.
                      Bootstrap makes front-end web development faster and easier. It's made for folks of all skill
                      levels,
                      devices of all shapes, and projects of all sizes.
                  </p>
              </div>
          </div>

          <div class="media">
              <div class="media-left">
                  <a href="https://atom.io/">
                      <img class="media-object"
                           alt="64x64"
                           src="/images/atom_editor_logo.svg"
                           data-holder-rendered="true"
                           style="width: 64px; height: 64px;">
                  </a>
              </div>
              <div class="media-body">
                  <h4 class="media-heading">Atom.io</h4>
                  <p>

                      Atom is a text editor that's modern, approachable, yet hackable to the core—a tool you can customize
                      to
                      do anything but also use productively without ever touching a config file.
                  </p>
              </div>
          </div>

          <div class="media">
              <div class="media-left">
                  <a href="https://github.com/">
                      <img class="media-object"
                           alt="64x64"
                           src="/images/octocat.jpg"
                           data-holder-rendered="true"
                           style="width: 80px; height: 64px;">
                  </a>
              </div>
              <div class="media-body">
                  <h4 class="media-heading">GitHub</h4>
                  <p>
                      GitHub is a web-based Git repository hosting service. It offers all of the distributed revision
                      control
                      and source code management (SCM) functionality of Git as well as adding its own features. Unlike
                      Git,
                      which is strictly a command-line tool, GitHub provides a Web-based graphical interface and desktop
                      as
                      well as mobile integration. It also provides access control and several collaboration features such
                      as
                      bug tracking, feature requests, task management, and wikis for every project
                  </p>
              </div>
          </div>

          <div class="media">
              <div class="media-left">
                  <a href="https://www.mongodb.com/">
                      <img class="media-object"
                           alt="64x64"
                           src="/images/mongo.png"
                           data-holder-rendered="true"
                           style="width: 150px; height: 64px;">
                  </a>
              </div>
              <div class="media-body">
                  <h4 class="media-heading">MongoDB</h4>
                  <p>
                      MongoDB (from humongous) is a cross-platform document-oriented database. Classified as a NoSQL
                      database,
                      MongoDB eschews the traditional table-based relational database structure in favor of JSON-like
                      documents with dynamic schemas (MongoDB calls the format BSON), making the integration of data in
                      certain types of applications easier and faster.
                  </p>
              </div>
            </div>
          </div>

      </div>
    </div>

</template>
