<template name="tech">

<p>  This website uses Meteor.js framework. You can learn more about this on <a alt="Meteor" href="https://www.meteor.com/">Meteor.com</a>
  A great tool for maintaining and developing projects running in meteor is Atom devlompment environmet.
  <a href="https://atom.io/">Atom.io</a>
  <br>
  The database runs in Mongo DB and uses collections to store data. The Mongo DB is bundeled with the meteor package.
  <a href="https://www.mongodb.org/">Mongo</a>
  <br>
  For version control and team collaboration we choose GitHub. You can find this project under github repositories /phoneticsandphonology. All controbutions are welcome!
  <a href="https://github.com/">GitHub</a>
  <br>
  The visual appearance is created with the help of Bootstrap. An easy CSS and Javascript solution for making websites look great.
  <a href="http://getbootstrap.com/">Bootstrap</a>
  <br>
</p>


</template>
