<template name="testMenu">
  <div class="theory">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#students" aria-controls="students" role="tab" data-toggle="tab">Students</a></li>
      <li role="presentation"><a href="#teachers" aria-controls="profile" role="tab" data-toggle="tab">Teachers</a></li>
      <li role="presentation" class="disabled"><a href="#juniors" aria-controls="juniors" role="tab" data-toggle="tab">Junior School Pupils</a></li>
      <li role="presentation" class="disabled"><a href="#kids" aria-controls="kids" role="tab" data-toggle="tab">Primary School Pupils</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content" style="margin-top: 20px;">
      <div role="tabpanel" class="tab-pane active" id="students">
          <!-- Large button group -->
          <div class="btn-group">
            <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Phonetics <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Vowels</a></li>
              <li><a href="#">Consonants</a></li>
            </ul>
          </div>
          <div class="btn-group">
            <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Segmental Phonology <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">The sound system of English</a></li>
              <li><a href="#">English vowels</a></li>
              <li><a href="#">English consonants</a></li>
            </ul>
          </div>
          <div class="btn-group">
            <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Suprasegmental Phonology <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Word stress</a></li>
              <li><a href="#">Sentence stress</a></li>
              <li><a href="#">Weak and strong forms</a></li>
              <li><a href="#">Elision</a></li>
              <li><a href="#">Liason</a></li>
              <li><a href="#">Reduced forms</a></li>
              <li><a href="#">Assimilation of voice</a></li>
              <li><a href="#">Advanced Aspects</a></li>
              <li><a href="#">Intonation</a></li>
            </ul>
          </div>
          <div class="btn-group">
            <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Phonemic Transcription <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Focus on Vowels</a></li>
              <li><a href="#">Focus on Consonants</a></li>
              <li><a href="#">The suffix -s</a></li>
              <li><a href="#">The suffix -ed</a></li>
              <li><a href="#">Minimal pairs</a></li>
              <li><a href="#">Mixed execrcises</a></li>
            </ul>
          </div>
          <div class="btn-group">
            <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Orthography <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Common patterns of spelling and pronunciation</a></li>
              <li><a href="#">Homophones</a></li>
              <li><a href="#">Silent letters</a></li>
            </ul>
          </div>
        </div>

      <div role="tabpanel" class="tab-pane fade" id="teachers">
          <div class="btn-group">
            <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Useful links <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Articles</a></li>
              <li><a href="#">Materials</a></li>
            </ul>
          </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="juniors">NYI</div>
      <div role="tabpanel" class="tab-pane fade" id="kids">NYI</div>
    </div>
  </div>
</template>
