<template name="administration">

  <section class="container-fluid">
    <nav class="nav nav-pills nav-stacked">
      <div class="container">
        Dashboard
        <a href="/newArticle"><button type="button" class="btn btn-primary">New Article</button></a>
        <a href="/"><button type="button" class="btn btn-primary">Update Articles</button></a>
        <a href="/newExercise"><button type="button" class="btn btn-primary">Create Exercise</button></a>
        <a href="/"><button type="button" class="btn btn-primary">Update Exercise</button></a>
        <a href="/"><button type="button" class="btn btn-primary">Manage Users</button></a>
        <a href="/"><button type="button" class="btn btn-primary">Manage Contnet</button></a>
      </div>
    </nav>



  </section>


</template>
