<template name="matching">

  <h1>{{title}}</h1>
    <p>{{instructions}}</p>
    <p> this is a mathing exercise </p>
<form>
  <input name=exercisesID type="hidden" value={{_id}}>
  <input name=type type="hidden" value={{type}}>
  <div class="exdetail">
    <ul>

      {{#each options}}
      <div class="js-option">
        <table>
            <tr>
                    <td>
                      <div class="btn-group" data-toggle="buttons">
                     <label class="btn btn-default">
                         <input type="radio" name="{{this}}" value="{{../value.[0]}}" /> {{../value.[0]}}
                     </label>
                     <label class="btn btn-default">
                         <input type="radio" name="{{this}}" value="{{../value.[1]}}" /> {{../value.[1]}}
                     </label>
                   </div>
                   </td>

                     <td><li>{{this}}</li></td>

            </tr>




    </table>
      </div>
      {{/each}}
    </ul>
  </div>
  <button type="submit" class="btn btn-default js-verify">Submit your Anwnser</button>
  {{data}}
</form>
</template>
