<template name="matching">

  <h1>{{title}}</h1>
    <p>{{instructions}}</p>
    <p> this is a mathing exercise </p>
<form>
  <input name=exercisesID type="hidden" value={{_id}} >
  <div class="exdetail">
    <ul>

      {{#each options}}
      <div class="js-option">
    <table>
      <tr>
      <div class="row">
             <div class="col-sm-9">
                 <div class="btn-group" data-toggle="buttons">
                     <label class="btn btn-default">
                         <input type="radio" id="q156" name="quality[25]" value="1" />
                     </label>
                     <label class="btn btn-default">
                         <input type="radio" id="q157" name="quality[25]" value="2" /> 2
                     </label>

                 </div>
             </div>
         </div>

        <td><li>{{this}}</li></td>

</tr>




    </table>
      </div>
      {{/each}}
    </ul>
  </div>
  <button type="submit" class="btn btn-default js-verify">Submit your Anwnser</button>
  {{data}}
</form>
</template>
